*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}

.wrapper{
    display: flex;
    height:100vh;
}
.sidebar{
    width:260px;
    background: #ffffff;
    padding: 15px;
    border-right:1px solid #ddd;
}