*{
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
}

.wrapper{
    display: flex;
    height:100vh;
}
.sidebar{
    width:260px;
    background: #ffffff;
    padding: 15px;
    border-right:1px solid #ddd;
}

.side h3{
    margin-top:0;
    margin-bottom: 13px;
    font-size: 16px;

    
}
.side label{
    font-size: 12px;
}

.side input , .sidebar select, .sidebar button {
    width: 100px;
    padding: 6px;
    margin: 6px 0 10px 0;
    font-size: 12px;
}